build/
__pycache__/
*.py[cod]
*$py.class
.pyc
.idea
.ipynb_checkpoints/README-checkpoint.md
UI_builder/.ipynb_checkpoints/
ourLib/.ipynb_checkpoints/
ourLib/ExcelExport/.ipynb_checkpoints/
ourLib/Import/.ipynb_checkpoints/
test/MON_test.csv.csv
test/Workspace/

